body, html{
    margin: 0;
    padding: 0;
}
#blocklyArea{
    height: 100vh;
    width: 50vw;
}
#blocklyDiv{
    position: absolute;
}
#output{
    height: 80vh;
    width: 50vw;
    position: absolute;
    right: 0;
    top: 0;
}

#yamlArea,
#jsonArea{
  display: inline-block;
  border: none;
  border-bottom: 1px solid #c6c6c6;
  overflow: auto;
  margin: 0;
  width: 100%;
  height: 50%;
  background-color: transparent;
}
